// personalizado

.list-group-center {
  // No need to set list-style: none; since .list-group-item is block level
  margin-bottom: 20px;
  padding-left: 0; // reset padding because ul and ol
    text-align: center;
}

// variables

$blanco:	#FFFFFF !default;
$azuloscuro:  	#00585E !default;
$azul:        	#009494 !default;
$amarillo:    	#F5F2DC !default;
$gris:        	#454445 !default;
$naranja:     	#FF5729 !default;
$negro:		#000000 !default;


$line-height-base:        1 !default;


// Fuentes
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'Fabrica';
$font-family-base:            $font-family-sans-serif !default;

//$font-size-base:          1rem !default;


// Navbar

$navbar-default-color:             $blanco !default;
$navbar-default-bg:                $azuloscuro !default;
$navbar-default-border:            darken($navbar-default-bg, 6.5%) !default;

// Navbar links
$navbar-default-link-color:                $blanco !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             darken($navbar-default-bg, 5%) !default;
$navbar-default-link-active-color:         #555 !default;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-disabled-color:       #ccc !default;
$navbar-default-link-disabled-bg:          transparent !default;
