@import 'fonts';
//@import 'misvariables';
//@import 'misvariables2';
@import 'trastear';
@import 'bootstrap/bootstrap';

main{
    padding-top: 80px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}