@import 'fonts';
//@import 'misvariables';
//@import 'misvariables2';
@import 'trastear';
@import 'bootstrap/bootstrap';
@import 'componentes';


main{
    padding-top: 80px;
}

.encabezado{
    display: flex;
    flex-direction: column;
}

.login-form{
    margin-top: 2em;
}

.dropdown-menu > li > a {
    padding: 3px 20px;
}

// De 768px en adelante
@media (min-width: $screen-sm-min) {

}

// De 992px en adelante
@media (min-width: $screen-md-min) {
    .encabezado{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    // Dropdowns
    .dropdown-menu > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
}

// De 1200px en adelante
@media (min-width: $screen-lg-min) {
    
}