{% extends 'layout.html.twig' %}

{% block title %}¡Bienvenido!{% endblock %}

{% block content %}
    <h1>Página principal de mi aplicación de prueba</h1>
    <i class="fas fa-camera-retro"></i>
    <article class="col-md-4">

    </article>
{% endblock %}
