{% extends 'layout.html.twig' %}

{% block title %}Usuarios{% endblock %}

{% block content %}
    <h1>Listado de usuarios de la aplicación</h1>

    {% if usuarios is not empty %}
    <table class="table table-bordered table-hover table-striped table-responsive-sm">
        <thead>
            <tr>
                <th>Nombre de usuario</th>
                <th>Contraseña</th>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.nombreUsuario }}</td>
                <td>{{ usuario.password }}</td>
                <td>
                    {% if usuario.administrador %}
                        Administrador
                    {% else %}
                        Técnico
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No hay usuarios que mostrar</p>
    {% endif %}
{% endblock %}
