{% extends 'layout.html.twig' %}

{% block title %}Eliminar{% endblock %}

{% block content %}
    <h1>Eliminar los datos de configuración de red para el dominio <strong>{{ confiRed.dominio }}</strong></h1>

    <div class="alert alert-warning">
        <p>¿Seguro que desea eliminar esta configuración de red? La operación no se podrá deshacer.</p>
    </div>
    <form method="post">
        <div class="botonera">
            <a href="{{ path('confired_listar') }}" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Volver al listado</a>
            <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar</button>
        </div>
    </form>
{% endblock %}

