{% extends 'layout.html.twig' %}

{% block title %}Tipo de dispositivo{% endblock %}

{% block content %}
    <div class="well encabezado">
        <h1>Tipos de dispositivo</h1>
        {% if is_granted('TIPO_DISPOSITIVO_CREAR') %}
        <a href="{{ path('tipo_dispositivo_nuevo') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nuevo tipo</a>
        {% endif %}
    </div>

    {% if tipos is defined and tipos is not empty %}
        <div class="list-group col-sm-3">
            {% for tipo in tipos %}
                {% if is_granted('TIPO_DISPOSITIVO_VER', tipo) %}
                    <a class="list-group-item text-center {% if tipoDispositivo is defined and tipo.id == tipoDispositivo.id %}active{% endif %}" href="{{ path('tipo_dispositivo_mostrar', {'id': tipo.id}) }}">{{ tipo.nombre }}</a>
                {% else %}
                    <a class="list-group-item text-center" href="#">{{ tipo.nombre }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-sm-9">
            {% block section %}{% endblock %}
        </div>
    {% else %}
        <p>No hay tipos que mostrar</p>
    {% endif %}

{% endblock %}
